<nb-card class="col-12 col-sm-12 col-md-12" fullWidth>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12" fullWidth>
        <nb-tabset>
          <nb-tab tabTitle="Datos de la agencia">
            <form #form="ngForm" (ngSubmit)="submit()">
              <div class="form-group row">
                <div class="col-7 col-sm-7 col-md-9">
                  <label for="name" class="label">Agencia</label>
                  <input nbInput
                      fullWidth
                      id="name"
                      name="name"
                      #namec="ngModel"
                      type="text"
                      pattern="[A-Za-zÀ-ÿ\u00f1\u00d1 ]*"
                      autocomplete="off"
                      [minlength]=4
                      [maxlength]=60
                      [required]="true"
                      [(ngModel)]="dataI.name"
                      [status]="namec.dirty || namec.touched ? (namec.invalid  ? 'danger' : 'success') : 'basic'"
                      [attr.aria-invalid]="namec.invalid && namec.touched ? true : null">
                    
                  <ng-container *ngIf="namec.invalid && namec.touched">
                    <p class="caption status-danger" *ngIf="namec.errors?.required">
                      ¡El nombre es requerido!
                    </p>
                    <p class="caption status-danger" *ngIf="namec.errors?.pattern">
                      ¡Por favor no ingrese caracteres especiales!
                    </p>
                    <p class="caption status-danger" *ngIf="namec.errors?.minlength || namec.errors?.maxlength">
                      El nombre debe tener mínimo 4 y máximo 60 caracteres
                    </p>
                  </ng-container>
                </div>

                <div class="col-1 col-sm-1 col-md-1">
                  <label for="state" class="label">Estado</label>
                  <nb-card-body class="example-items-row">
                    <nb-toggle 
                      id="state"
                      name="state"
                      status="success"
                      [(ngModel)]="toggleNgModel">
                    </nb-toggle>
                  </nb-card-body>
                </div>
              </div>
            </form>
          </nb-tab>
        </nb-tabset>            
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danger" (click)="cancel()" style="float: right;">Cancelar</button>
    <button nbButton
          status="success"
          class="submit"
          style="float: right;"
          (click)="submit()"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
          Guardar
    </button>
  </nb-card-footer>
</nb-card>
