<div class="form-group row">
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header>Control de votación</nb-accordion-item-header>
      <nb-accordion-item-body>
        <nb-card class="col-12 col-sm-12 col-md-12 col-lg-12" fullWidth>
          <nb-card-body>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12" fullWidth>
                <nb-stepper
                  id="stepper"
                  name="stepper"
                  #stepper
                  orientation="horizontal">
                  <nb-step
                    *ngFor="let opc of questionsView; let i = index" label="Consulta {{ i + 1 }}"> 
                    <h3>Consulta en votación #{{ count }}</h3>
                    <br><br>
                    <p style="font-size: xx-large; line-height: 1em;">
                      {{opc.question}}
                    </p>
                    <br><br>
                    <button nbButton status="primary" nbStepperNext (click)="onChange(i+1)" style="float: right;">Siguiente</button>
                    <button nbButton *ngIf="!btnValidate" status="success" (click)="update(opc)" style="float: right;">Habilitar</button>
                    <button nbButton *ngIf="btnValidate" status="success" (click)="update(opc)" style="float: right;">Deshabilitar</button>
                  </nb-step>

                  <nb-step [hidden]="true">
                    <div class="step-container">
                      <h3>¡Consultas finalizadas!</h3>
                    </div>
                  </nb-step>
                  
                </nb-stepper>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
  <br><br>
</div>

<div class="form-group row">
  <div class="col-6 col-sm-6 col-md-6 col-lg-6">
    <nb-card>
      <nb-card-header>Votación en tiempo real</nb-card-header>
      <nb-card-body>
        <chart type="horizontalBar" [data]="dataOnline" [options]="optionsOnline"></chart>
      </nb-card-body>
      <nb-card-footer>
        Total habilitados para votar: {{ valHabil }}<br><br>
        <table style="width: 100%;" border="1">
          <tr>
            <th style="width: 20%;"></th>
            <th style="width: 20%; text-align: center;">Total</th>
            <th style="width: 20%; text-align: center;">Porcentaje</th>
          </tr>
          <tr>
            <td>Usuarios en linea</td>
            <td style="text-align: center;">{{ valOnline }}</td>
            <td style="text-align: center;">{{ (valOnline/valHabil)*100 | number:'.1-2' }} %</td>
          </tr>
          <tr>
            <td>Total votos</td>
            <td style="text-align: center;">{{ valVotes }}</td>
            <td style="text-align: center;">{{ (valVotes/valHabil)*100 | number:'.1-2' }} %</td>
          </tr>
        </table>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-6 col-sm-6 col-md-6 col-lg-6">
    <nb-card>
      <nb-card-header>Resultado votación</nb-card-header>
      <nb-card-body>
        <chart type="horizontalBar" [data]="dataVotes" [options]="optionsVotes"></chart>
      </nb-card-body>
      <nb-card-footer>
        Total vots: {{ valHabil }}<br><br>
        <table style="width: 100%;" border="1">
          <tr>
            <th style="width: 20%;"></th>
            <th style="width: 20%; text-align: center;">Total</th>
            <th style="width: 20%; text-align: center;">Porcentaje</th>
          </tr>
          <tr *ngFor="let opc of votes">
            <td> {{ opc.answer }} </td>
            <td style="text-align: center;"> {{ opc.totalVotes }} </td>
            <td style="text-align: center;"> {{ (opc.totalVotes/valVotes)*100 | number:'.1-2' }} %</td>
          </tr>
        </table>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="form-group row">
  <div class="col-6 col-sm-6 col-md-6 col-lg-6">
    <nb-card size="medium">
      <nb-list>
        <nb-list-item *ngFor="let user of userVotes">
          <nb-user [name]="user.name" [title]="user.agency">
          </nb-user>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>