<nb-card class="col-12 col-sm-12 col-md-12" fullWidth>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12" fullWidth>
        <form #form="ngForm" (ngSubmit)="submit()">
          <div class="form-group row">
            <div class="col-12 col-sm-12 col-md-12">
              <p style="font-size: xx-large; line-height: 1em;">
                {{ quest.question }}
              </p>
              <br><br>
            </div>
            
            <div class="col-12 col-sm-12 col-md-12">
              <nb-radio-group 
              id="vote"
              name="vote"
              #nbtype="ngModel"
              [required]="true"
              [(ngModel)]="dataI.idAnswer">
              
              <nb-radio *ngFor="let opc of answers" [value]="opc.id">
                <span style="font-size: x-large;">
                  {{ opc.answer }}
                </span>
                </nb-radio>
              </nb-radio-group>
            </div>
          </div>
        </form>         
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton
          status="success"
          size="giant"
          class="submit"
          style="float: right;"
          (click)="submit()"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
          Votar
    </button>
  </nb-card-footer>
</nb-card>