<nb-card>
  <nb-card-header>Carvajal - Ecommerce</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12" fullWidth>
          <form #form="ngForm" (ngSubmit)="submit()">
            <div class="form-group row">
              <table>
                <tr>
                  <td rowspan="4">
                    <img [src]="dataI.urlPicture" width="300" height="300">
                  </td>
                  <td style="width: 80%; height: 30%; vertical-align: middle;">
                    <p style="font-size: xx-large; line-height: 100%;"><b>{{ dataI.nameProd }}</b></p>
                  </td>
                  <td style="vertical-align: middle;">
                    <p style="font-size: x-large;">${{ dataI.price }}</p>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <p style="font-size: large; line-height: 100%;">{{ dataI.descProd }}</p>
                  </td>
                </tr>

                <tr>
                  <td colspan="2" style="text-align: right; vertical-align: middle;">
                    <ng-container>
                      <p class="caption status-primary" *ngIf="dataI.stock > dataI.minimum" style="font-size: medium;">
                        ¡Producto disponible!
                      </p>
                      <p class="caption status-warning" *ngIf="dataI.stock <= dataI.minimum && dataI.stock > 0" style="font-size: medium;">
                        ¡Quedan pocas unidades disponibles!
                      </p>
                      <p class="caption status-danger" *ngIf="dataI.stock == 0" style="font-size: medium;">
                        ¡No hay unidades disponibles!
                      </p>
                    </ng-container>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <div class="form-group row" style="width: 100%;">
                      <div class="col-md-7"></div>
                      <div class="col-md-2">
                        <label for="cant" class="label">Cantidad</label>
                        <input nbInput
                            fullWidth
                            id="cant"
                            name="cant"
                            type="number"
                            min="0"
                            max="dataI.stock"
                            #cant="ngModel"
                            (ngModelChange)="onChangeQuantity($event)"
                            [disabled]="dataI.stock == 0 ? true : false"
                            [required]="true"
                            [(ngModel)]="quantity"
                            [status]="cant.dirty || cant.touched ? (cant.invalid  ? 'danger' : 'success') : 'basic'"
                            [attr.aria-invalid]="cant.invalid && cant.touched ? true : null">
        
                        <ng-container *ngIf="cant.invalid && cant.touched">
                          <p class="caption status-danger" *ngIf="cant.errors?.required">
                            ¡La cantidad es requerida!
                          </p>
                          <p class="caption status-danger" *ngIf="cant.errors?.pattern">
                            ¡Por favor ingresar solo números!
                          </p>
                        </ng-container>
                      </div>
  
                      <div class="col-md-3" style="float: right;">
                        <label for="val" class="label">Total</label>
                        <input nbInput
                            fullWidth
                            id="val"
                            name="val"
                            #val="ngModel"
                            type="text"
                            readonly = true
                            style="text-align: right;"
                            [(ngModel)]="total">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </form>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="danger" (click)="cancel()" style="float: right;">Cancelar</button>
    <button nbButton
          status="success"
          class="submit"
          style="float: right;"
          (click)="submit()"
          [disabled]="submitted || !form.valid || quantity == 0"
          [class.btn-pulse]="submitted">
          Comprar
    </button>
    <button nbButton hero fullwidth status="info" class="submit" (click)="onWishes()" style="float: right;">Lista deseos</button>
  </nb-card-footer>
</nb-card>