<nb-card>
  <nb-card-header>
    Sistema de votación
  </nb-card-header>

  <nb-card-body>
    <form #form="ngForm" (ngSubmit)="login()">
      <div class="form-group row">
        <div class="col-12 col-sm-12 col-md-12">
          <label for="mail" class="label">Correo</label>
          <input nbInput
              fullWidth
              id="mail"
              name="mail"
              #email="ngModel"
              pattern=".+@.+\..+"
              autocomplete="off"
              [required]="true"
              [(ngModel)]="mail"
              [status]="email.dirty || email.touched ? (email.invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="email.invalid && email.touched ? true : null">

          <ng-container *ngIf="email.invalid && email.touched">
            <p class="caption status-danger" *ngIf="email.errors?.required">
              ¡El correo es requerido!
            </p>
            <p class="caption status-danger" *ngIf="email.errors?.pattern">
              ¡El Correo debe ser valido!
            </p>
          </ng-container>
        </div>
      </div>
    </form>

    <div class="form-group row">
      <div class="col-12 col-sm-12 col-md-12">
        <button nbButton
          status="primary"
          size="giant"
          class="submit"
          style="float: center;"
          (click)="login()"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
          Iniciar
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
