<nb-card
  [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header>
    Sistema de votación
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
        <button
          nbButton 
          status="primary"
          size="giant"
          style="float: center;"
          (click)="openDialogsaveUpdate($event)"
          [disabled]="!enabled">
          {{labelAdd}}
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
