<nb-card class="col-12 col-sm-12 col-md-12" fullWidth>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12" fullWidth>
        <nb-tabset>
          <nb-tab tabTitle="Datos de la consulta">
            <form #form="ngForm" (ngSubmit)="submit()">
              <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-12">
                  <label for="name" class="label">Consulta</label>
                  <textarea nbInput
                      fullWidth
                      id="name"
                      rows="3"
                      name="name"
                      type="text"
                      autocomplete="off"
                      
                      #namec="ngModel"
                      [minlength]=4
                      [maxlength]=200
                      [required]="true"
                      [(ngModel)]="dataI.question"
                      [status]="namec.dirty || namec.touched ? (namec.invalid  ? 'danger' : 'success') : 'basic'"
                      [attr.aria-invalid]="namec.invalid && namec.touched ? true : null"></textarea>
                    
                  <ng-container *ngIf="namec.invalid && namec.touched">
                    <p class="caption status-danger" *ngIf="namec.errors?.required">
                      ¡La consulta es requerida!
                    </p>
                    <p class="caption status-danger" *ngIf="namec.errors?.minlength || namec.errors?.maxlength">
                      la consulta debe tener mínimo 4 y máximo 200 caracteres
                    </p>
                  </ng-container>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-3 col-sm-3 col-md-3">
                  <label for="seq" class="label">Secuencia</label>
                  <nb-select fullWidth
                    id="seq"
                    name="seq"
                    #nbseq="ngModel"
                    [required]="true"
                    [(ngModel)]="dataI.seq"
                    [status]="nbseq.dirty || nbseq.touched ? (nbseq.invalid  ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="nbseq.invalid && nbseq.touched ? true : null">

                    <nb-option *ngFor="let opc of sequences" [value]="opc">{{opc}}</nb-option>
                  </nb-select>

                  <ng-container *ngIf="!nbseq.dirty && nbseq.touched">
                    <p class="caption status-danger" *ngIf="nbseq.errors?.required">
                      ¡La secuencia es requerida!
                    </p>
                  </ng-container>
                </div>

                <div class="col-5 col-sm-5 col-md-5">
                  <label for="type" class="label">Tipo consulta</label>
                  <nb-radio-group 
                    id="type"
                    name="type"
                    #nbtype="ngModel"
                    [required]="true"
                    [(ngModel)]="dataI.idType">
                    <nb-radio [value]=1>Selección única</nb-radio>
                    <nb-radio [value]=2>Selección múltiple</nb-radio>
                  </nb-radio-group>
                </div>

                <div class="col-1 col-sm-1 col-md-1">
                  <label for="state" class="label">Estado</label>
                  <nb-card-body class="example-items-row">
                    <nb-toggle 
                      id="state"
                      name="state"
                      status="success"
                      [(ngModel)]="toggleNgModel">
                    </nb-toggle>
                  </nb-card-body>
                </div>
              </div>
            </form>
          </nb-tab>
        </nb-tabset>            
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="danger" (click)="cancel()" style="float: right;">Cancelar</button>
    <button nbButton
          status="success"
          class="submit"
          style="float: right;"
          (click)="submit()"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
          Guardar
    </button>
  </nb-card-footer>
</nb-card>